<div class="registerContainer">
    <app-nav-bar></app-nav-bar>

    <div class="newUser">
        <div class="top">
            <div class="logo" style="color:  #38ACEC;;">PMSP Projects </div>
        </div>
        <div class="bottom">
            <h2>Let's get started by <br>creating your free <br> PMSP account</h2>
            <form class="signUp"  #signUpForm = 'ngForm' (ngSubmit)="registerUser()">
                <div class="fName">
                    <label for="fName">First Name</label>
                    <br>
                    <input type="text" name="fName" id="fName" placeholder="Enter Your First Name" ngModel data-cy="first_name">
                    <br>
                </div>  
                <div class="lName">
                    <label for="lName">Last Name</label>
                    <br>
                    <input type="text" name="lName" id="lName" placeholder="Enter Your Last Name" ngModel data-cy="last_name">
                    <br>
                </div>  
                <div class="emailDiv">
                    <label for="email">Email</label>
                    <br>
                    <input type="email" name="email" id="email" placeholder="Email address" ngModel data-cy="email">
                </div>
                <div class="pd">
                    <label for="pwd">Password</label>
                    <br>
                    <input type="password" name="Password" id="pwd" placeholder="Password" ngModel data-cy="password">
                    <br>
                </div> 
                <div class="createUserDiv">
                    <p id="terms">By signing up, I agree to the Terms of Use and Privacy Policy</p>
                    <input type="submit" value="Register" id="createUser">
                </div>
            </form>

        </div>

    </div>

</div>

<router-outlet></router-outlet>

